<h1 mat-dialog-title>Add Task</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput tabindex="1" [(ngModel)]="data.task.taskName" placeholder="Task Name">
  </mat-form-field>
  <mat-form-field>
    <input matInput tabindex="2" [(ngModel)]="data.task.points" placeholder="Points">
  </mat-form-field>
  <div>
    <mat-checkbox [checked]="data.weeklyTask" [(ngModel)]="data.weeklyTask">Weekly Task</mat-checkbox>

  </div>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data" tabindex="2">Save</button>
  <button mat-button (click)="onNoClick()">No Thanks</button>
</div>
